<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>template-1</title>

	</head>
	<body>
		<table width="100%">
			<thead>
				<tr>
					<td align="center">
						<b><%= tableHeader %></b></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="center">
						Table Body A</td>
				</tr>
				<tr>
					<td align="center">
						Table Body B</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td align="center">
						Table Footer</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>
