<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>exampleTemplate.js</title>
	<!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>
<body>
	<!-- <script src="js/scripts.js"></script> -->
	<table width="100%">
		<thead>
			<tr>
				<td>
					<%= tableHeader %></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Table Body A</td>
			</tr>
			<tr>
				<td>
					Table Body B</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					Table Footer</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>
